.App {
  text-align: center;
}

.feedbackIcon {
  position: fixed !important;
  bottom: 3em;
  right: 3em;
  background-color: #28334a !important;
  color: white !important;
  width: 250px !important;
  height: 50px !important;
}
